.desk{
    color: rgb(239, 151, 20);
}

.product-img {
    height: 200px;
    object-fit: cover; 
    width: 100%;
}


.card {
    transition: 0.4s;
   

}


.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}